{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="danger">Delete Datapool '{{ datapool.name }}'</h1>

    <a href="{% url 'datapool:datapool_list' %}" class="btn btn-primary">
        <i class="fa fa-search"></i>
        List Datapools
    </a>
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>
            Yes, delete
        </button>
    </form>


{% endblock %}
