{% extends 'base.html' %}

{% block content %}

    <h1>Datapool Overview</h1>

    <a href="{% url 'datapool:datapool_create' %}" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Create Datapool
    </a>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>capacity</th>
            <th>left</th>
            <th>Owner</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {% for pool in pools %}
            <tr>
                <td>
                    <a href="{% url 'datapool:datapool_detail' pool.pk %}"><i class="fa fa-search"></i>{{ pool.name }}</a>
                </td>
                <td>{{ pool.description|truncatechars:25 }}</td>
                <td>{{ pool.capacity }} Datas</td>
                <td>{{ pool.capacityLeft }} Datas</td>
                <td>{{ pool.owner }}</td>
                <td>{{ pool.pool_type }}</td>
                <td>
                    <a href="{% url 'datapool:datapool_update' pool.pk %}" class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                    <a href="{% url 'datapool:datapool_delete' pool.pk %}" class="btn btn-danger">
                        <i class="fa fa-times-circle"></i>
                        Delete
                    </a>

                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
