{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <h1>Detail for Datapool '<b>{{datapool.name}}</b>'</h1>
    <div>
        <div class="col col-md-4 well">
            <h4>Existing Quotas </h4>
            <div id="quotaOverview"></div>
        </div>
        <div class="col col-md-8 well" id="quotaDetailsHere">
            <h4>Choose a Quota on the left to see its Containers here.</h4>
        </div>
    </div>


<script src="{% static 'datapool/js/datapool.js' %}"></script>
<script>
    var quotas = JSON.parse('{{ datapool.get_serialized_quotas|escapejs }}');
    renderQuotas(quotas);
</script>
{% endblock %}
