{% extends 'base.html' %}

{% block content %}

    <h1>Hello World</h1>

    <div class="tiles">
        <a href="">
            <span>
                <i class="fa fa-rocket"></i>
                Django rocks
            </span>
        </a>
    </div>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Type</th>
        </tr>
        {% for pool in pools %}
            <tr>
                <td>{{ pool.name }}</td>
                <td>{{ pool.description|truncatechars:10 }}</td>
                <td>{{ pool.owner }}</td>
                <td>{{ pool.pool_type }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
