{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Create new Container</h1>
    {% if quota  %}
        <h4>On Datapool '<b>{{quota.datapool.name}}</b>' for Project '<b>{{quota.project.name}}</b>'</h4>
    {% else %}
        <h4>for Project '<b>{{ project.name }}</b>'</h4>
    {% endif %}



    <form action="" method="post">
        {% csrf_token %}

        {{ form|crispy }}

        <button class="btn btn-success" type="submit">
            <i class="fa fa-angle-right"></i>
            Create
        </button>
    </form>


{% endblock %}
