{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="danger">Delete Container '{{ container.name }}'</h1>

    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>
            Yes, delete
        </button>
    </form>


{% endblock %}
