{% load i18n %}
{% load space_bar %}


    <h1>{% trans 'Containers' %}</h1>
    <h4>{% trans 'for Project' %} '<b>{{ project.name }}</b>'
        {% trans 'in Datapool' %}  '<b>{{ datapool.name }}</b>'
    </h4>


    <div>
        <a href="{% url 'datapool:container_create_onQuota' quota.pk %}" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            {% trans 'Create Container' %}
        </a>

        {{ quota|space_barM }}
    </div>


    <table class="table">
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'In Datapool' %}</th>
            <th>{% trans 'size' %}</th>
            <th>{% trans 'used' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        {% for container in containers %}
            <tr>
                <td>{{ container.name }}</td>
                <td>{{ container.quota.datapool.name }}</td>
                <td>{{ container.size }} {% trans 'Datas' %}</td>
                <td title="Last updated: {{ container.updated|timesince }}">
                    {{ container.used }} {% trans 'Datas' %}
                </td>
                <td>
                    <a href="{% url 'datapool:container_update' container.pk %}" class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                        {% trans 'Edit' %}
                    </a>
                    <a href="{% url 'datapool:container_delete' container.pk %}" class="btn btn-danger">
                        <i class="fa fa-times-circle"></i>
                        {% trans 'Delete' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

