{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Modify Container '{{ container.name }}'</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">
            <i class="fa fa-angle-right"></i>
            Update
        </button>
    </form>


{% endblock %}
