{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="danger">Delete Project '{{ project.name }}'</h1>

    <a href="{% url 'datapool:project_list' %}" class="btn btn-primary">
        <i class="fa fa-search"></i>
        List Projects
    </a>
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>
            Yes, delete {{ project.name }}
        </button>
    </form>


{% endblock %}
