{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Detail for Project' %} '<b>{{project.name}}</b>'</h1>
    <a href="{% url 'datapool:quota_create' project.pk %}">{% trans 'Add new Datapool' %}</a>

    <hr/>

    <h2>{% trans 'Datapools assigned' %}</h2>

    <table class="table">
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Quota' %}</th>
            <th>{% trans 'Left' %}</th>
            <th>{% trans 'Container count' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        {% for quota in assigned_pools %}
            <tr>
                <td>{{ quota.datapool.name }}</td>
                <td>{{ quota.space }} {% trans 'Datas' %}</td>
                <td>{{ quota.spaceLeft }} {% trans 'Datas' %}</td>
                <td>{{ quota.container_set.all.count }} {% trans 'Containers' %}</td>

                <td>
                    <a class="btn btn-yellow"  href="{% url 'datapool:container_list' quota.pk %}">
                        <i class="fa fa-database"></i> {% trans 'Manage Containers' %}
                    </a>
                    <a class="btn btn-yellow"  href="{% url 'datapool:quota_update' quota.pk %}">
                        <i class="fa fa-pencil"></i> {% trans 'Edit' %}
                    </a>
                    {% if quota.container_set.all.count %}
                        <button class="btn btn-disabled" disabled title="{% trans 'You cannot delete Quotas that still have containers.' %}">
                            <i class="fa fa-trash"></i> {% trans 'Delete' %}
                        </button>
                    {% else %}
                        <a class="btn btn-danger" href="{% url 'datapool:quota_delete' quota.pk %}">
                            <i class="fa fa-trash"></i> {% trans 'Delete' %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
