{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <h1>{% trans 'Project Overview' %}</h1>

    <a href="{% url 'datapool:project_create' %}" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        {% trans 'Create Project' %}
    </a>

    <table class="table">
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Datapools assigned' %}</th>
            <th>{% trans 'Created' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        {% for item in projects %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.countDatapoolsLinked }}</td>
                <td>{{ item.created }}</td>
                <td>
                    <a href="{% url 'datapool:project_detail' item.pk %}" class="btn btn-default">
                        <i class="fa fa-clipboard"></i>
                        {% trans 'Manage Datapools and Quotas' %}
                    </a>
                    <a href="{% url 'datapool:project_update' item.pk %}" class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                        {% trans 'Rename' %}
                    </a>
                    {% if item.countDatapoolsLinked %}
                        <button class="btn btn-disabled"
                            disabled
                            title="You cannot delete this Project. There are still Datapools connected. Unlink them first."
                        >
                            <i class="fa fa-times-circle"></i>
                            {% trans 'Delete' %}
                        </button>
                    {% else %}
                        <a href="{% url 'datapool:project_delete' item.pk %}" class="btn btn-danger">
                            <i class="fa fa-times-circle"></i>
                            {% trans 'Delete' %}
                        </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
