{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Modify Project '{{ project.name }}'</h1>

    <a href="{% url 'datapool:project_list' %}" class="btn btn-primary">
        <i class="fa fa-search"></i>
        List Projects
    </a>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">
            <i class="fa fa-angle-right"></i>
            Update
        </button>
    </form>


{% endblock %}
