@import "bootstrap/bootstrap.less";
@import "animate/animate.less";
@import "variables.less";



body {background:#eee; padding:44px 0px;}
#header {padding: 22px 44px 44px 44px; background: #fff;}
#logo {width:150px;  }
#nav-main {margin-bottom: 0px;}

#content-container {
    background: #fff; padding:44px;
}
#content {min-height:400px;}

.page {.box-shadow(0 2px 20px rgba(0,0,0,0.16));}



#footer {border-top:1px solid #fff; padding:44px; background: #fbfbfb;}

.container-fluid {max-width: 1280px;}


.breadcrumb {margin:0px;}

// ui elements
// ----------------------------
.tiles {

    a {
        display:table; vertical-align: middle;
        background: #eee; border-radius: 3px;
        text-align: center;
        display:inline-block; border: 1px solid transparent;
        margin: 0px 10px 10px 0px;

        .transition(color linear 0.3s, background linear 0.3s;);

        &:hover {background: #fbfbfb;
          border:1px solid @brand-primary;
        }
        span {
            font-size:18px;

            display: table-cell;width:220px; height:150px;vertical-align: middle;
            i {font-size:57px; display: block;}
        }

        &:hover {text-decoration:none;}

    }
}


