
// violet
@brand-primary:                                 #6cacde;
@brand-success:                                 lighten(#58c95f, 10%);
@brand-default:                                 #eee;

@brand-dark:                                    #757D8F;

@link-color: #1973aa;


// --------------------------------------------

@font-family-sans-serif:                        'Open Sans', sans-serif;

// sidebar
@sidebar-bg:                                #fff;
@sidebar-shadow:                            0 2px 20px rgba(0,0,0,0.16);

// main navbar
@navbar-default-color:                      #fff;
@navbar-default-bg:                         @brand-primary;
@navbar-default-border:                     0px;
@navbar-margin-bottom:                      0px;
// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #eee;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);

@nav-tabs-border-color:                     transparent;
@nav-tabs-active-link-hover-border-color:   transparent;
@nav-tabs-active-link-hover-bg:             transparent;
@nav-link-hover-bg:                         transparent;


@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;



// headings
// ------------------------------------
@headings-color:            #3b465f;


// panels
// ------------------------------------
@panel-body-padding:          15px;
@panel-bg:               #F3F7FA;
@panel-heading-padding:       10px 15px;
@panel-inner-border:          transparent;
@panel-default-border:        transparent;
.panel {.box-shadow(none);}


// Buttons
// ------------------------------------
@btn-primary-border:          transparent;

// Breadcrumbs
// ------------------------------------
@breadcrumb-bg: #fbfbfb;
@breadcrumb-padding-horizontal: 44px;