{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Attach new Datapool to '<b>{{ project.name }}</b>'</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-angle-right"></i>
                        Create
                    </button>
                </form>

            </div>
            <div class="col-md-6">
                <h3>Datapools already linked with {{ project.name }}</h3>
                {% if existingQuotas %}
                    <ul>
                    {% for exQuota in existingQuotas %}
                        <li>{{ exQuota.datapool.name }} ({{ exQuota.space }} Datas)</li>
                    {% endfor %}

                    </ul>
                {% else %}
                    None so far.
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
