{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="danger">Delete Quota '{{ quota }}'</h1>

    <a href="{% url 'datapool:project_detail' quota.project.pk %}" class="btn btn-primary">
        <i class="fa fa-left"></i>
        Back to Project '{{ quota.project.name }}'
    </a>
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>
            Yes, delete {{ quota }}
        </button>
    </form>


{% endblock %}
