{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Update Quota on Datapool '<b>{{ quota.datapool.name }}</b>' for Project '<b>{{ quota.project.name }}</b>'</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">
            <i class="fa fa-angle-right"></i>
            Update
        </button>
    </form>

{% endblock %}
