<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DSSlite</title>

    <script type="text/javascript" src="{% static "theme/js/jquery-1.12.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "theme/bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "theme/compiled/compiled.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<div class="container-fluid">
    <div class="page">
        <div id="header">
            <a id="logo">
                <img src="{% static "theme/img/logo.png" %}" class="img-responsive">
            </a>
        </div>
        <div id="nav-main">
            {% include "nav.html" %}
        </div>
        <ol class="breadcrumb">
            {% block breadcrumb %}
                <li class="active">Start</li>
            {% endblock %}
        </ol>
        <div id="content-container">


            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            Footer
        </div>
    </div>
</div>


</body>

</html>
