{% load staticfiles %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'datapool:datapool_list' %}">
                    <i class="fa fa-database"></i>
                    Datapool</a>
                </li>
                <li><a href="{% url 'datapool:project_list' %}">
                    <i class="fa fa-clipboard"></i>
                    Projects</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'admin:index' %}">Administration</a></li>
                <li class="dropdown">
                    {% if request.user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            <i class="fa fa-user"></i>
                            {{ request.user }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i>
                                Logout
                            </a></li>
                        </ul>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <i class="fa fa-sign-in"></i>
                            Login
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
