{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Login</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-success" type="submit">
        <i class="fa fa-angle-right"></i> Login
    </button>
</form>
{% endblock %}
